<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All Test Suite">
    <test name="PracticePageTests" verbose="2" preserve-order="true">
        <classes>
            <class name="org.example.tests.PracticePageTest">
                <methods>
                    <include name="testAlertHandling"/>
                    <include name="testRadioButtons"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
